@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* Here is some classes which is use multiple time. */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: #1A0B2E;
    --mainW: 1200px;
    --linear: linear-gradient(90deg, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);

}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.mainBGcolor {
    background-color: var(--bgColor);
}

.linear {
    background: var(--linear);
}

/* Random classes selection area.I will defined all random classes from here. */
/* Nav section design area */
.spanColor {
    background: linear-gradient(140deg, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    background-color: pink;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.btn {
    height: 44px;
    width: 135px;
    padding: 8px 16px;
    align-self: center;
    border-radius: 40px;
    font-size: 1rem;
    text-align: center;
}
.threeline{
    display: none;
}
/* Nav section design completed */









/* Media query less then 576px  */
@media screen and (max-width: 576px) {
     /*Nav section area  */
    input{
    display: none;
    color: red;
 }

.threeline{
    display: block;
}

.barsicon{
    display: flex; 
    height: 20px;
    width: 20px;  
    position: relative;
}
.barsicon::before{
    content: " ";
    position: absolute;
    top: 2px;
    transition: .5s;
    left: 0px;
    background-color: white;
    box-shadow: 0px 7px 0px white;
    height: 2px;
    width: 20px;
    border-radius: 1px;
}
.barsicon::after{ 
    border-radius: 1px;
    content: " ";
    position: absolute;
    transition: .5s;
    bottom: 2px;
    left: 0px;
    background-color: white;
    height: 2px;
    width: 20px;
}
nav:has(input:checked) .barsicon::before{
    content: " ";
    position: absolute;
    transition: .5s;
    top: 7px;
    left: 0px;
    background-color: white; 
    transform: rotate(50deg);
    box-shadow: 0 0 0 black;
    height: 2px;
    width: 20px;
    border-radius: 1px;
}
nav:has(input:checked) .barsicon::after{ 
    border-radius: 1px;
    content: " ";
    position: absolute;
    transform: rotate(135deg);
    transition: .5s;
    top: 7px;
    left: 0px;
    background-color: white;
    height: 2px;
    width: 20px;
}
  
.btn{
    display: none;
}
nav:has(input:checked) .menu{
    position: absolute;
    top: 40px;
    right: 30px; 
    height: 100px;
    width: 100px;
    background-color: white;
    color: black;
    padding: 0;
    transition: .5s;
    display: flex;
    font-size: 16px;
    flex-direction: column;
    cursor: pointer;
    gap: 2px;
    border-radius: 10px;
    padding: 10px 0px;
}
.menu{
    transition: .5s;
    display: none;
}
nav{
    padding: 0 5px;
}
/* Nav section design area completed. */



}