@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* Here is some classes which is use multiple time. */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: #1A0B2E;
    --mainW: 1200px;
    --linear: linear-gradient(90deg, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    --cardcolor: rgba(53, 17, 101, 0.4);
    --igcolor: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.mainBGcolor {
    background-color: var(--bgColor);
}

.linear {
    background: var(--linear);
}

.card1bg {
    background-color: var(--cardcolor);
}

.igcolor {
    background: var(--igcolor);
    background-color: pink;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Random classes selection area.I will defined all random classes from here. */
/* Nav section design area */
.spanColor {
    background: linear-gradient(140deg, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    background-color: pink;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.buttonText {
    align-items: center;
}

.btn {
    height: 44px;
    width: 135px;
    padding: 8px 16px;
    align-self: center;
    border-radius: 40px;
    font-size: 1rem;
    text-align: center;
}

.threeline {
    display: none;
}

/* Nav section design completed */
/* Section1 design area start */
.section1M {
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    height: 760px;
    max-width: 1600px;
    background-size: auto;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-color: #fff;
}

.innerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 558px;
    width: 550px;
    width: 100%;
}

.innerImgDiv {
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.HeroImg {
    position: relative;
}

.innerImgDiv::before {
    content: 'NEW';
    position: absolute;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    top: 0;
    right: 20px;
    height: 40px;
    width: 80px;
    border-radius: 30px;
    background-color: #00FF88;
    box-shadow: 0 0 20px #00FF88;
}

.cardImgSize {
    height: 60px;
    width: 60px;
}

.hostImagediv {
    width: 430px;
    height: 200px;
}

.hostImage {
    width: 430px;
    height: 100%;
    object-fit: cover;
}

/* Footer section start here */
.footer {
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



/* Media query less then 576px  */
@media screen and (max-width: 576px) {

    /*Nav section area  */
    .navSection {
        padding: 0 15px;
    }

    .menu {
        padding: 0 15px;
        display: none;
    }

    .btn {
        display: none;
    }

    input {
        display: none;
        color: red;
    }

    .threeline {
        display: block;
    }

    .barsicon {
        display: flex;
        height: 20px;
        width: 20px;
        position: relative;
    }

    .barsicon::before {
        content: " ";
        position: absolute;
        top: 2px;
        transition: .5s;
        left: 0px;
        background-color: white;
        box-shadow: 0px 7px 0px white;
        height: 2px;
        width: 20px;
        border-radius: 1px;
    }

    .barsicon::after {
        border-radius: 1px;
        content: " ";
        position: absolute;
        transition: .5s;
        bottom: 2px;
        left: 0px;
        background-color: white;
        height: 2px;
        width: 20px;
    }

    nav:has(input:checked) .barsicon::before {
        content: " ";
        position: absolute;
        transition: .5s;
        top: 7px;
        left: 0px;
        background-color: white;
        transform: rotate(50deg);
        box-shadow: 0 0 0 black;
        height: 2px;
        width: 20px;
        border-radius: 1px;
    }

    nav:has(input:checked) .barsicon::after {
        border-radius: 1px;
        content: " ";
        position: absolute;
        transform: rotate(135deg);
        transition: .5s;
        top: 7px;
        left: 0px;
        background-color: white;
        height: 2px;
        width: 20px;
    }


    nav:has(input:checked) .menu {
        position: absolute;
        top: 40px;
        right: 40px;
        height: 100px;
        width: 100px;
        background-color: white;
        color: black;
        padding: 0;
        transition: .5s;
        display: flex;
        font-size: 16px;
        flex-direction: column;
        cursor: pointer;
        gap: 2px;
        border-radius: 10px;
        padding: 10px 0px;
    }

    .menu {
        transition: .5s;
        display: none;
    }

    nav ul li:hover {
        background-color: #e7d7d7;
        width: 100%;
        border-radius: 5px;
    }

    /* Nav section design area completed. */

    /* Podcast video section  */

    .PotcustDiv {
        display: flex;

    }

    .PotcustDiv div {
        margin: 10px;
    }

    .PotcustDiv div div {
        text-align: start;
    }

    .PotcustDiv div iframe {
        width: 100%;
    }

    /* Podcast video section closed */
    /* Host Section Responsive design start */
    .HostMainDvi {
        margin: 0 10px;
    }

    .hostImage {
        width: 200px;
        margin: auto;
        height: 100%;
    }

    .HostMainDvi .hostImagediv {
        margin: auto;
    }

    .CardParent div {
        padding: 20px;
    }

    /* Host Section design completed */
    /* Footer responsive area */
    .footerUl {
        padding: 0 70px;
    }

    /* Footer responsive completed */

}

@media screen and (max-width: 992px) {


    .navSection {
        padding: 0 15px;
    }

    .menu {
        padding: 0 30px;
        display: none;
    }

    .btn {
        display: none;
    }

    input {
        display: none;
        color: red;
    }

    .threeline {
        display: block;
    }

    .barsicon {
        display: flex;
        height: 20px;
        width: 20px;
        position: relative;
    }

    .barsicon::before {
        content: " ";
        position: absolute;
        top: 2px;
        transition: .5s;
        left: 0px;
        background-color: white;
        box-shadow: 0px 7px 0px white;
        height: 2px;
        width: 20px;
        border-radius: 1px;
    }

    .barsicon::after {
        border-radius: 1px;
        content: " ";
        position: absolute;
        transition: .5s;
        bottom: 2px;
        left: 0px;
        background-color: white;
        height: 2px;
        width: 20px;
    }

    nav:has(input:checked) .barsicon::before {
        content: " ";
        position: absolute;
        transition: .5s;
        top: 7px;
        left: 0px;
        background-color: white;
        transform: rotate(50deg);
        box-shadow: 0 0 0 black;
        height: 2px;
        width: 20px;
        border-radius: 1px;
    }

    nav:has(input:checked) .barsicon::after {
        border-radius: 1px;
        content: " ";
        position: absolute;
        transform: rotate(135deg);
        transition: .5s;
        top: 7px;
        left: 0px;
        background-color: white;
        height: 2px;
        width: 20px;
    }


    nav:has(input:checked) .menu {
        position: absolute;
        top: 40px;
        right: 40px;
        height: 100px;
        width: 100px;
        background-color: white;
        color: black;
        padding: 0;
        transition: .5s;
        display: flex;
        font-size: 16px;
        flex-direction: column;
        cursor: pointer;
        gap: 2px;
        border-radius: 10px;
        padding: 10px 0px;
    }

    .menu {
        transition: .5s;
        display: none;
    }


    nav ul li:hover {
        background-color: #e7d7d7;
        width: 100%;
        border-radius: 5px;
    }

    /* Nav responsive design area completed */
    /* Card section area */
    .CardParent {
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap: 30px;
    }

    .CardParent div {
        padding: 30px;
    }

    /* Card section area closed*/

    /* Podcast video section */
    .PotcustDiv {
        display: flex;
        flex-direction: column;

    }

    .PotcustDiv div {
        margin: 10px;
    }

    .PotcustDiv div div {
        text-align: start;
    }

    .PotcustDiv div iframe {
        width: 100%;
    }

    /* Podcast video section closes */
    /* Host section start  */
    .hostImage {
        width: 200px;
        height: 100%;
        margin: auto;
    }

    .HostMainDvi {
        display: flex;
        flex-direction: column;
    }

    .HostMainDvi .hostImagediv {
        margin: auto;
    }

    .HostMainDvi {
        margin: 0 10px;
    }

    /* Host section completed area */

}
 